  .rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-top: 88px;
  }
  button{
		background-color:  #cc0000;
		color: white;
		font-weight: 700;
		font-size: 200%;
		font-family: "Georgia", serif;
	}
	button:hover{
		color:  #cc0000;
		background:white;
		cursor: pointer;
	}

  h1{
    font-family:"Verdana";
    font-size: 40px;
    padding-top: :5px
}
body{
  background-color: cyan
}
div.num1 {
    width: 100%;
    border: 1px solid gray;
}
header{
    padding: 1em;
    color: 	cyan;
    background-color: black;
    clear: left;
    text-align: center;
}
