h1{
  text-align: center;
  color:cyan;
  font-size:50px;
  font-family: Verdana
}
body{
  background-color: cyan;
}
header{
    padding: 1em;
    color: 	cyan;
    background-color: black;
    clear: left;
    text-align: center;
}
p{
  text-align: center;
  padding:1em;
  font-size: 40px;
  color:black;
  font-family: Garamond;
}
