body{
  background-color: cyan;
}
header{
    padding: 1em;
    color: 	cyan;
    background-color: black;
    clear: left;
    text-align: center;
}
h1{
  text-align: center;
  color:cyan;
  font-size:50px;
  font-family: Verdana
}
p{
  text-align: center;
  padding:1em;
  font-size: 30px;
  color:black;
  font-family: Garamond;
}
h3{
  font-size: 45px;
  font-family: Garamond;
}
ul{
  font-size: 30px;
  font-family:Garamond;
}
